@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: block;
  height: 100%;
}

ng-icon.hidden {
  display: none;
}

.dark ng-icon\.dark\:hidden {
  display: none;
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  padding: 0.25rem 0.5rem;
}
