@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -25%;
  top: -15%;
  z-index: -1;
  transition: background 0.5s ease-in-out;
  background: conic-gradient(
      from 180deg at 50% 50%,
      #7f0f37 0deg,
      #dc2186 133.12deg,
      #e16c64 208.13deg,
      #fedbb3 360deg
    )
    no-repeat;
  filter: blur(200px);
  transform: rotate(180deg) translateY(40%);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
  }
}
