@mixin ngp-badge-color($name, $color, $bg, $border) {
  --badge-#{$name}-color: var(--color-#{$color});
  --badge-#{$name}-bg: var(--color-#{$bg});
  --badge-#{$name}-border-color: var(--color-#{$border});
}

@mixin ngp-badge-size(
  $name,
  $height,
  $fontSize,
  $fontWeight,
  $lineHeight,
  $padding,
  $borderRadius,
  $gap,
  $dotSize
) {
  --badge-#{$name}-height: #{$height};
  --badge-#{$name}-font-size: #{$fontSize};
  --badge-#{$name}-font-weight: #{$fontWeight};
  --badge-#{$name}-line-height: #{$lineHeight};
  --badge-#{$name}-padding: #{$padding};
  --badge-#{$name}-border-radius: #{$borderRadius};
  --badge-#{$name}-gap: #{$gap};

  --badge-dot-#{$name}-size: #{$dotSize};
}

@mixin ngp-badge-dot-size($name, $size) {
}

@mixin ngp-badge {
  --badge-border-width: 1px;
  --badge-border-style: solid;
  --badge-border-color: transparent;

  // badge: primary
  @include ngp-badge-color($name: primary, $color: rose-700, $bg: rose-50, $border: rose-200);

  // badge: sm
  @include ngp-badge-size(
    $name: sm,
    $height: 20px,
    $fontSize: 10px,
    $fontWeight: 400,
    $lineHeight: 12px,
    $padding: 0 8px,
    $borderRadius: 20px,
    $gap: 6px,
    $dotSize: 3px
  );

  // badge: md
  @include ngp-badge-size(
    $name: md,
    $height: 24px,
    $fontSize: 12px,
    $fontWeight: 400,
    $lineHeight: 16px,
    $padding: 2px 8px,
    $borderRadius: 24px,
    $gap: 8px,
    $dotSize: 4px
  );

  // badge: lg
  @include ngp-badge-size(
    $name: lg,
    $height: 32px,
    $fontSize: 14px,
    $fontWeight: 400,
    $lineHeight: 20px,
    $padding: 0 12px,
    $borderRadius: 32px,
    $gap: 8px,
    $dotSize: 4px
  );
}
