@mixin ngp-button {
  --btn-font: var(--font-family);
  --btn-font-weight: 500;
  --btn-cursor: pointer;
  --btn-border-style: solid;
  --btn-border-width: 1px;
  --btn-border-color: transparent;
  --btn-shadow: none;
  --btn-outline: none;
  --btn-transition: all 0.2s ease-in-out;
  --btn-focus-outline: var(--focus-outline);

  // size: sm
  --btn-sm-gap: var(--spacing-1);
  --btn-sm-height: var(--spacing-8);
  --btn-sm-radius: var(--radius-base);
  --btn-sm-padding: 0 var(--spacing-3);
  --btn-sm-font-size: var(--font-size-xs);

  // size: md
  --btn-md-gap: var(--spacing-2);
  --btn-md-height: var(--spacing-9);
  --btn-md-radius: var(--radius-md);
  --btn-md-padding: 0 var(--spacing-4);
  --btn-md-font-size: var(--font-size-sm);

  // size: lg
  --btn-lg-gap: var(--spacing-2);
  --btn-lg-height: var(--spacing-10);
  --btn-lg-radius: var(--radius-md);
  --btn-lg-padding: 0 var(--spacing-4);
  --btn-lg-font-size: var(--font-size-sm);

  // color: primary
  --btn-primary-bg: var(--color-primary-600);
  --btn-primary-color: var(--color-white);
  --btn-primary-border-color: var(--btn-primary-bg);
  --btn-primary-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  // color: primary: hover
  --btn-primary-hover-bg: var(--color-primary-700);

  // color: primary: active
  --btn-primary-active-bg: var(--color-primary-800);

  // color: secondary
  --btn-secondary-bg: var(--color-white);
  --btn-secondary-color: var(--color-gray-700);
  --btn-secondary-border-color: var(--color-gray-200);
  --btn-secondary-shadow: none;

  // color: secondary: hover
  --btn-secondary-hover-bg: var(--color-gray-50);

  // color: secondary: active
  --btn-secondary-active-bg: var(--color-gray-100);
}

@mixin ngp-icon-button {
  --icon-btn-cursor: var(--btn-cursor);
  --icon-btn-border-style: var(--btn-border-style);
  --icon-btn-border-width: var(--btn-border-width);
  --icon-btn-border-color: var(--btn-border-color);
  --icon-btn-shadow: var(--btn-shadow);
  --icon-btn-outline: var(--btn-outline);
  --icon-btn-transition: var(--btn-transition);
  --icon-btn-focus-outline: var(--btn-focus-outline);

  // size: sm
  --icon-btn-sm-height: var(--btn-sm-height);
  --icon-btn-sm-radius: var(--btn-sm-radius);
  --icon-btn-sm-padding: 9px;
  --icon-btn-sm-font-size: var(--font-size-xs);

  // size: md
  --icon-btn-md-height: var(--btn-md-height);
  --icon-btn-md-radius: var(--btn-md-radius);
  --icon-btn-md-padding: 10px;
  --icon-btn-md-font-size: var(--font-size-sm);

  // size: lg
  --icon-btn-lg-height: var(--btn-lg-height);
  --icon-btn-lg-radius: var(--btn-lg-radius);
  --icon-btn-lg-padding: 11px;
  --icon-btn-lg-font-size: var(--font-size-base);

  // color: primary
  --icon-btn-primary-bg: var(--btn-primary-bg);
  --icon-btn-primary-color: var(--btn-primary-color);
  --icon-btn-primary-border-color: var(--btn-primary-bg);
  --icon-btn-primary-shadow: var(--btn-primary-shadow);

  // color: primary: hover
  --icon-btn-primary-hover-bg: var(--btn-primary-hover-bg);

  // color: primary: active
  --icon-btn-primary-active-bg: var(--btn-primary-active-bg);

  // color: secondary
  --icon-btn-secondary-bg: var(--btn-secondary-bg);
  --icon-btn-secondary-color: var(--btn-secondary-color);
  --icon-btn-secondary-border-color: var(--btn-secondary-border-color);
  --icon-btn-secondary-shadow: var(--btn-secondary-shadow);

  // color: secondary: hover
  --icon-btn-secondary-hover-bg: var(--btn-secondary-hover-bg);

  // color: secondary: active
  --icon-btn-secondary-active-bg: var(--btn-secondary-active-bg);
}
