@mixin ngp-checkbox {
  --checkbox-color: transparent;
  --checkbox-bg: transparent;
  --checkbox-border: 1px solid var(--color-gray-200);
  --checkbox-shadow: none;

  // checkbox: hover
  --checkbox-hover-color: transparent;
  --checkbox-hover-bg: var(--color-primary-50);
  --checkbox-hover-border: 1px solid var(--color-primary-300);
  --checkbox-hover-shadow: none;

  // checkbox: focus
  --checkbox-focus-shadow: var(--focus-outline-muted);

  // checkbox: checked
  --checkbox-checked-color: var(--color-white);
  --checkbox-checked-bg: var(--color-primary-600);
  --checkbox-checked-border: 1px solid var(--color-primary-600);
  --checkbox-checked-shadow: none;

  // checkbox: md
  --checkbox-md-size: var(--spacing-4);
  --checkbox-md-gap: var(--spacing-2);
  --checkbox-md-radius: var(--radius-base);

  // checkbox: lg
  --checkbox-lg-size: var(--spacing-5);
  --checkbox-lg-gap: var(--spacing-3);
  --checkbox-lg-radius: var(--radius-md);

  // checkbox label
  --checkbox-label-color: var(--color-gray-700);

  // checkbox label: md
  --checkbox-md-label-font-size: var(--font-size-sm);
  --checkbox-md-label-font-weight: 400;

  // checkbox label: lg
  --checkbox-lg-label-font-size: var(--font-size-sm);
  --checkbox-lg-label-font-weight: 400;

  // checkbox tick: md
  --checkbox-md-tick-size: var(--font-size-xs);

  // checkbox tick: lg
  --checkbox-lg-tick-size: var(--font-size-sm);
}
