@mixin ngp-form {
  // form field
  --form-field-gap: var(--spacing-1);

  // label
  --label-color: var(--color-gray-700);
  --label-font-size: var(--font-size-sm);
  --label-font-weight: 400;

  // hint
  --hint-color: var(--color-text-tertiary);
  --hint-font-size: var(--font-size-xs);
  --hint-font-weight: 400;
  --hint-gap: var(--spacing-1);

  // error
  --error-color: var(--color-primary-600);
  --error-font-size: var(--font-size-xs);
  --error-font-weight: 400;
  --error-gap: var(--spacing-1);
}
