@mixin ngp-input-group {
  // input group: sm
  --input-group-sm-gap: 0.375rem;

  // input group: md
  --input-group-md-gap: 0.5rem;

  // input group: lg
  --input-group-lg-gap: 0.75rem;

  // input group addon
  --input-group-addon-color: var(--color-gray-500);

  // input group addon: sm
  --input-group-addon-sm-font-size: 1rem;

  // input group addon: md
  --input-group-addon-md-font-size: 1rem;

  // input group addon: lg
  --input-group-addon-lg-font-size: 1.125rem;

  // input group addon: disabled
  --input-group-addon-disabled-color: var(--color-gray-400);
}
