@mixin ngp-input {
  --input-font: var(--font-family);
  --input-font-weight: 400;
  --input-border-width: 1px;
  --input-border-color: var(--color-gray-200);
  --input-color: var(--color-gray-900);
  --input-bg: var(--color-white);
  --input-outline: none;
  --input-focus-outline: var(--focus-outline-muted);

  // placeholder
  --input-placeholder-color: var(--color-gray-500);

  // input: sm
  --input-sm-height: var(--spacing-8);
  --input-sm-radius: var(--radius-base);
  --input-sm-padding: 0 var(--spacing-2);
  --input-sm-font-size: var(--font-size-xs);

  // input: md
  --input-md-height: var(--spacing-9);
  --input-md-radius: var(--radius-md);
  --input-md-padding: 0 var(--spacing-3);
  --input-md-font-size: var(--font-size-sm);

  // input: lg
  --input-lg-height: var(--spacing-10);
  --input-lg-radius: var(--radius-md);
  --input-lg-padding: 0 var(--spacing-3);
  --input-lg-font-size: var(--font-size-sm);

  // input: disabled
  --input-disabled-bg: var(--color-gray-50);
  --input-disabled-color: var(--color-gray-400);
  --input-disabled-border-color: var(--color-gray-100);

  // input placeholder: disabled
  --input-placeholder-disabled-color: var(--color-gray-400);
}
