@mixin ngp-tooltip {
  --tooltip-bg: var(--color-white);
  --tooltip-border: 1px solid var(--color-gray-200);
  --tooltip-color: var(--color-text-primary);
  --tooltip-padding: var(--spacing-1) var(--spacing-2);
  --tooltip-radius: var(--radius-md);
  --tooltip-font-size: var(--font-size-sm);
  --tooltip-font-weight: 400;
  --tooltip-shadow: none;
  --tooltip-transition: opacity 0.1s ease-in-out;
}
