<ul role="list">
  <li class="md:hidden">
    <a
      href="#"
      class="block py-1 text-sm text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white"
    >
      API
    </a>
  </li>

  <li class="md:hidden">
    <a
      href="#"
      class="block py-1 text-sm text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white"
    >
      Documentation
    </a>
  </li>

  <li class="md:hidden">
    <a
      href="#"
      class="block py-1 text-sm text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white"
    >
      Support
    </a>
  </li>

  <li
    docs-navigation-group
    *ngFor="let group of groups; let first = first"
    [group]="group"
    [ngClass]="{ 'md:mt-0': first }"
  ></li>
</ul>
